    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">送信</button>
    </form>
    
    <form method="POST">
        {% csrf_token %}

        {% for item in form %}
            {% if item.field.widget.input_type in "select" %}
                <div class="form-group">
                    <label for="{{item.id_for_label}}">{{item.label}}</label>
                    <select id="{{item.id_for_label}}" class="form-control">
                        <option>実行する</option>
                        <option>停止する</option>
                    </select>
                </div>
            {% elif item.field.widget.input_type in "text" and  item.field.widget.input_type not in "select" %}
                <div class="form-group">
                    <label for="{{item.id_for_label}}">{{item.label}}</label>
                    <input 
                        type="{{item.field.widget.input_type}}"
                        class="form-control" 
                        {% if item.field.required %}required{% endif %} 
                        name="{{item.name}}" 
                        id="{{item.id_for_label}}">
            {% elif item.field.widget.input_type in "number" %}
                <div class="form-group">
                <label for="{{item.id_for_label}}">{{item.label}}</label>
                <input 
                    type="{{item.field.widget.input_type}}"
                    class="form-control" 
                    {% if item.field.required %}required{% endif %} 
                    name="{{item.name}}" 
                    id="{{item.id_for_label}}">
                </div>
            {% endif %}

        {% endfor %}
        <button type="submit" class="submit btn btn-primary">保存</button>
    </form>