{% extends "./base.html" %}

{% block content %}

    <h1 class="my-4">ユーザーデータ</h1>
    <ul class="my-4">
        <p> 学年:　{{ object.user_info_grade_number }} </p>
        <p> クラス番号:　{{ object.user_info_class_number }} </p>
        <p> 出席番号:　{{ object.user_info_student_number }} </p>
        <p> 名前:　{{ object.user_info_student_name }} </p>
        <p> 体温:　{{ object.user_info_body_temperature }} </p>
        {% if object.is_run_code == 1 %}
            <p>状態:　実行する</p>
        {% elif object.is_run_code == 0 %}
            <p>状態:　停止する</p>
        {% endif %}

        {% if object.user_info_last_run_at is None %}
            <p> 前回実行日:　Never </p>
        {% else %}
            <p>前回実行日:　{{ object.user_info_last_run_at }}</p>
        {% endif %}

        <a href="{% url 'users:update' user.pk %}"> 更新 </a>
        {% comment %} <a href="{% url 'users:delete' user.pk %}"> 削除 </a> {% endcomment %}
    </ul>

{% endblock %}
